.buttonWrap {
  margin-top: 10px;
}

.button {
  padding: 5px 10px; /* Відступи всередині кнопки */
  background-color: #007bff; /* Синій фон */
  color: white; /* Білий текст */
  border: none; /* Без рамки */
  border-radius: 4px; /* Згладжені кути */
  cursor: pointer; /* Зміна курсора при наведенні */
  font-size: 24px;
}

.button:hover {
  background-color: #0056b3; /* Темніший синій при наведенні */
}
